// filtro linguaggi
.check-filter {
  label {
    border: solid 2px #212529;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      border: solid 2px #00ccbc;
      color: #00ccbc;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input:checked + label {
    border: solid 2px #00ccbc;
    color: #00ccbc;
  }
}

// filtro percentuale
.progress-filter {
  input {
    background-color: #212529;
    color: white;
  }
}

// tabella
tr {
  cursor: pointer;
}
