

<h1 class="text-center p-3">Lista degli studenti</h1>
<!--
<ul *ngFor="let user of users">
  <li routerLink="/detailUser/{{ user.username }}" (click)="sendUserDetails(user)">
    <div class="name">Username: {{ user.username }}</div>
    <div>ID: {{ user.id }}</div>
    <div>Registrato il: {{ user.registration_date | date }}</div>
    <div>Avanzamento studi: {{ user.total_progress }}</div>
  </li>
</ul> -->
<div class="container">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username Studente</th>
        <th scope="col">Avanzamento studi</th>
        <th scope="col">Registrato il</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of users" routerLink="/detailUser/{{ user.username }}" (click)="sendUserDetails(user)"> -->
      <tr *ngFor="let student of students" routerLink="/admin-dashboard" (click)="sendUserDetails(student)">
        <th scope="row" >{{ student.id }}</th>
        <td>{{ student.username | titlecase }}</td>
        <td>{{ student.total_progress | titlecase }}</td>
        <td>{{ student.registration_date | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
