<h1 class="text-center p-3">Filtra studenti</h1>
<div class="container">

  <div class="d-flex align-items-center justify-content-between">
    <div class="check-filter">
      <div class="row">
        <div
          *ngFor="let lang of baseLanguages"
          class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3"
        >
          <input
            type="checkbox"
            [id]="lang.name"
            [(ngModel)]="lang.isChecked"
            (change)="getLanguageFilter()"
          />
          <label
            class="py-2 card d-flex align-items-center justify-content-between"
            [for]="lang.name"
            [ngStyle]="{'background-color': lang.color}"
          >
            <span>{{ lang.name }}</span>
          </label>
        </div>
      </div>
    </div>
    <!-- <label for="base-lang">Filtra per linguaggio desiderato:</label>
    <select class="ms-1 me-4" id="base-lang" [(ngModel)]="form.id" name="id">
      <option value=""></option>
      <option
        *ngFor="let lang of base_languages"
        [value]="lang.id"
      >
        {{lang.id}} - {{ lang.name }}
    </option>
    </select> -->

    <div class="progress-filter">
      <label for="progress">Progresso totale studente maggiore di:</label>
      <input
        class="ms-1"
        id="progress"
        type="number"
        placeholder="0"
        required
        min="0" max="100" step="5"
        [(ngModel)]="totalProgress"
        name="progress"
        (change)="getProgressFilter()"
      ><span> %</span>
    </div>
  </div>
</div>

<h1 class="text-center p-3">Lista degli studenti</h1>
<div class="container">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username studente</th>
        <th>Avanzamento studi</th>
        <th>Progresso totale</th>
        <th>Registrato il</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" routerLink="/admin-dashboard" (click)="sendUserDetails(student)">
        <td>#{{ student.id }}</td>
        <td>{{ student.username | titlecase }}</td>
        <td>{{ student.actual_state | titlecase }}</td>
        <td>{{ student.total_progress }}%</td>
        <td>{{ student.registration_date | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>
